#container{
	width: 640px;
	height: 640px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
}

.row{
	width: auto;
	height: 40px;
	background: #313131;
}

.square{
	width: 40px;
	height: 40px;
	margin: 0px;
	outline: 1px solid;
	display: inline-block;
	float: left;
	background: #FFFFFF;
}

.blocks{
	margin-left: 290px;
}